html,
body {
    height: 100%;
}

body {
    @extend %rubik-500;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    flex-direction: column;
    color: $default-color;
}

a {
    color: $footer-link;
}

.large-container {
    max-width: 1770px;
    margin: 0 auto;
    padding: 0 15px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.main {
    flex-grow: 1;
}

.title {
    @extend %dmsans-700;
    font-size: 36px;
    line-height: 1.2;
    color: $title-color;
    text-align: center;
}