html,
body {
    height: 100%;
}

body {
    @extend %rubik-500;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    flex-direction: column;
    color: $default-color;
    background-color: #fff;
}

a {
    color: $footer-link;
}

.large-container {
    max-width: 1770px;
    margin: 0 auto;
    padding: 0 15px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.main {
    flex-grow: 1;
}

.title {
    @extend %dmsans-700;
    font-size: 36px;
    line-height: 1.2;
    color: $title-color;
    text-align: center;
}

.title-about {
    font-size: 36px;
    @extend %dmsans-700;
    margin-bottom: 40px;
    line-height: 1.2;
}

.link-arrow {
    text-transform: capitalize;
    @extend %dmsans-700;
    color: #262626;

    &::after {
        content: '>';
        padding-left: 20px;
    }
}


.top {
    background-color: #edf1f4;
    padding: 35px 0 30px;
    text-align: center;

    &__title {
        font-size: 36px;
        line-height: 24px;
        color: #222933;
        @extend %rubik-400;
        margin-bottom: 5px;
    }

}

.breadcrumbs {
    display: inline-flex;
    justify-content: center;

    &__list {
        display: flex;
        @extend %rubik-400;
        font-size: 14px;
        line-height: 24px;
        color: #cfd3d6;
    }

    &__item {
        padding-right: 20px;
        position: relative;

        &::after {
            content: '/';
            position: absolute;
            right: 5px;
        }

        &:last-child {
            padding-right: 0;

            &::after {
                display: none;
            }
        }
    }
}

.pagination {
    text-align: center;
    display: flex;
    align-items: center;

    justify-content: center;

    &__list {
        display: flex;
        margin-right: 15px;
    }

    &__item {
        margin-right: 15px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__link {
        border: 1px solid $btn-color;
        padding: 25px;
        @extend %rubik-400;
        line-height: 1;
        font-size: 16px;
    }

    &__link--active {
        background-color: $btn-color;
        color: #fff;
    }

    &__next {
        border: 1px solid $btn-color;

    }


}