$default-color:#243f4d;
$menu-blue-white:#edf1f4;
$menu-gray:#a3bbc8;
$pink:#fcd7b6;

%img {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

%rubik-400 {
    font-family: 'Rubik-Regular', sans-serif;
    font-weight: 400;
}

%rubik-500 {
    font-family: 'Rubik-Medium', sans-serif;
    font-weight: 500;
}

%dmsans-400 {
    font-family: 'DMSans-Regular', sans-serif;
    font-weight: 400;
}

%dmsans-500 {
    font-family: 'DMSans-Medium', sans-serif;
    font-weight: 500;
}

%dmsans-700 {
    font-family: 'DMSans-Bold', sans-serif;
    font-weight: 700;
}