@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
    padding: 50px 20px;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.menu {
    &__list {
        display: flex;
    }

    &__list-item+.menu__list-item {
        padding-left: 35px;
    }

    &__list-link {
        font-size: 15px;
        line-height: 12px;
        color: #436372;
        @extend %rubik-500;
    }
}

.user-nav {
    display: flex;

    &__link-search {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background-color: $menu-blue-white;
        background-image: url(../images/icon/search.png);
        @extend %img;
        background-size: auto;
    }

    &__items {
        background-color: $light-orange;
        padding: 14px 40px;
        border-radius: 32px;
        margin: 0 20px;
        display: flex;
        justify-content: space-between;
        width: 180px;
    }

    &__link {
        position: relative;
    }

    &__link--line::after {
        content: '';
        position: absolute;
        width: 1px;
        height: 30px;
        background-color: #fde7d3;
        right: 45px;
        bottom: -5px;
    }

    &__num {
        position: absolute;
        background-color: #fff;
        border-radius: 50%;
        width: 16px;
        height: 16px;
        line-height: 16px;
        font-size: 10px;
        text-align: center;
        top: -5px;
        left: 12px;
        color: $default-color;
        @extend %dmsans-400;
    }

    &__button {
        border: none;
        background-color: $btn-color;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        line-height: 0;

    }
}

.footer {
    @extend %rubik-400;
    font-size: 14px;
    line-height: 32px;
    color: $footer-link;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    padding: 80px 0 70px;
    border-bottom: 1px solid #dae4e9;

    &__item-contact {
        width: 210px;
    }

    &__logo {
        display: block;
        margin-bottom: 30px;
    }


    &__adress,
    &__tel,
    &__email {
        display: block;
    }

    &__title {
        color: $footer-tile;
        font-size: 16px;
        line-height: 21px;
        margin-bottom: 28px;
        text-transform: uppercase;
    }

    &__item-form {
        max-width: 270px
    }

    &__text {
        line-height: 24px;
        margin-bottom: 38px;
    }

    &__form {
        @extend %dmsans-400;
        font-size: 0;
    }

    &__form-input {
        border: none;
        background-color: $pink;
        max-width: 170px;
        width: 100%;
        padding: 12px 10px 12px 15px;

        font-size: 12px;

        &::placeholder {
            color: #234969;
            font-size: 12px;
            line-height: 1;
        }


    }

    &__form-btn {
        @extend %btn;
        border: none;
        font-size: 12px;
        cursor: pointer;
        padding: 12px 21px;


    }
}

.footer-botton {
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;

    &__nav {
        display: flex;
    }

    &__item {
        padding-right: 15px;
    }

    &__item+.footer-botton__item {
        padding-left: 15px;
    }

    &__item:after {
        content: "|";
    }

    &__item:last-child::after {
        display: none;
    }

    &__link {
        padding-right: 15px;
    }
}

.slider-top {
    background-color: $light-orange;
    padding-top: 220px;
    background-image: url(../images/slider-top__bg.png);

    &__item {
        display: flex !important;
        justify-content: space-between;
        margin-bottom: 200px;
    }

    &__content {
        padding-left: 5px;
    }

    &__title {
        max-width: 400px;
        font-size: 70px;
        line-height: 72px;
        color: $default-color;
        margin-bottom: 40px;
    }

    &__text {
        @extend %rubik-400;
        font-size: 18px;
        line-height: 30px;
        max-width: 400px;
        margin-bottom: 45px;
        color: #436372;
    }

    &__btn {
        @extend %btn;
        font-size: 18px;
        line-height: 30px;
        padding: 19px 84px 20px 28px;
        position: relative;

        &::after {
            content: url(../images/icon/arrow.svg);
            position: absolute;
            right: 15px;
        }


    }

    &__img {
        margin-top: 70px;
    }

    .slick-dots {
        display: flex;
        justify-content: center;
        padding-bottom: 43px;

        li {
            margin-right: 10px;

            button {
                width: 30px;
                height: 30px;
                border: none;
                background-color: #fde3cc;
                color: #667983;
                border-radius: 50%;
                font-size: 11px;
                line-height: 9px;
                @extend %rubik-500;

            }

            &.slick-active {
                button {
                    color: $default-color;
                    background-color: #fff;
                }

            }
        }
    }
}


.advantages {
    background-color: $bg-color;
    margin-bottom: 60px;

    &__inner {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: 1px solid #e8e4df;
        padding: 40px 0 40px;

        &:last-child {
            border: none;
        }
    }


    &__item-title {
        @extend %dmsans-700;
        font-size: 18px;
        line-height: 40px;
        color: #414141;
        margin-left: 30px;
    }

    &__item-text {
        display: block;
        @extend %dmsans-400;
        font-size: 16px;
        line-height: 30px;
        width: 220px;
    }

    &__item-support {
        span {
            width: 199px;
        }
    }
}

.products {
    margin-bottom: 180px;

    &__filter {
        margin: 30px 0 80px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__filter-btn {
        border: none;
        background-color: transparent;
        color: $filter-btn;
        cursor: pointer;
    }

    &__filter-btn+.products__filter-btn {
        margin-left: 30px;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-row-gap: 40px;
        grid-column-gap: 30px;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-row-gap: 35px;
        grid-column-gap: 30px;
    }

    &__box {
        max-width: 370px;
        height: 250px;
        @extend %img;
        padding: 40px 35px;
        @extend %dmsans-700;
        line-height: 1.2;

    }

    &__box-title,
    &__box-color {
        font-size: 20px;
        color: $title-color;
    }

    &__box-color {
        padding-bottom: 20px;
    }

    &__box-link {
        font-size: 16px;
        color: $btn-color;
    }
}





.products-item {
    text-align: center;
    max-width: 240px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    border-radius: 10px;
    padding: 30px 0 30px;

    &__img-box {
        position: relative;
        height: 240px;
        overflow: hidden;
    }

    &__img {
        margin: 0 auto;

    }

    &__inner-link {
        position: absolute;
        text-align: center;
        left: 0;
        right: 0;
        top: 120px;
        display: flex;
        justify-content: center;
        transform: translate(300%);
        transition: all 0.3s;
    }

    &__box-link {
        border-radius: 50%;
        width: 45px;
        height: 45px;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 0;

    }


    &__box-link:hover {
        background-color: $btn-color;

        path {
            fill: #fff;
        }
    }

    &__box-link+.products-item__box-link {
        margin-left: 15px;
    }

    &__title {
        @extend %dmsans-500;
        line-height: 40px;
    }

    &__price {
        display: block;
        @extend %dmsans-700;
        color: $btn-color;
    }

    &:hover {
        .products-item__inner-link {
            transform: translate(0);
        }
    }
}

.video-popup {
    background-image: url(../images/decor/video-bg.jpg);
    @extend %img;
    height: 500px;
    margin-bottom: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lamp {
    padding: 0 75px;
    margin-bottom: 85px;

    &__inner {
        display: flex;
        justify-content: space-around;
    }

    &__box {
        display: flex;
        background-color: #feefe2;
        align-items: center;
        text-align: left;
        max-width: 870px;
        width: 100%;
        position: relative;
        height: 390px;

    }

    &__box+.lamp__box {
        margin-left: 30px;
    }

    &__img {
        overflow: visible;
        height: 410px;
        position: absolute;
        left: 140px;
        bottom: 85px;
    }

    &__text {
        display: block;
        padding-left: 400px;
    }

    &__title {
        @extend %dmsans-700;
        font-size: 26px;
        line-height: 1.231;
        display: block;
    }

    &__description {
        line-height: 1.875;
        display: block;
        margin-bottom: 35px;
    }

    &__link {
        @extend %rubik-500;
        padding: 24px 86px 24px 20px;
        text-transform: capitalize;
        border: 1px solid #b3b7b5;
        border-radius: 5px;
        color: #436372;
        font-size: 15px;
        line-height: 0.8;
    }


}

.blog {
    background-color: #fff;

    &__title-box {
        display: flex;
        justify-content: space-between;
        margin-bottom: 45px;
    }

    &__link {
        text-transform: capitalize;
        @extend %dmsans-700;
        color: #262626;
    }

    &__link::after {
        content: '>';
        padding-left: 20px;
    }

    &__inner {
        display: flex;
        justify-content: space-around;
    }

    &__item {
        max-width: 370px;
        width: 100%;
        background-color: #e1e1e1;
        border-radius: 5px;
        box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);

    }

    &__item-btm {
        background-color: #fff;
        position: relative;
        padding: 35px 25px 25px 30px;
    }

    &__bottom {
        background-color: $bg-color;
        padding-bottom: 45px;
    }

    &__item-description {
        max-width: 315px;
        width: 100%;
        padding-bottom: 15px;
        border-bottom: 1px solid #e0e0e0;
    }

    &__category {
        background-color: $btn-color;
        color: #fff;
        text-transform: uppercase;
        position: absolute;
        @extend %dmsans-700;
        font-size: 14px;
        line-height: 20px;
        padding: 10px 30px;
        top: -15px;
        border-radius: 32px;
    }

    &__text {
        padding-bottom: 35px;
        color: #262626;
        font-size: 18px;
        @extend %dmsans-500;
        line-height: 1.2;
        text-align: left;
    }

    &__item-info {
        display: flex;
        justify-content: flex-start;
        @extend %rubik-400;
        font-size: 12px;
        line-height: 30px;
        color: #222933;
        margin-top: 20px;
    }

    &__date {
        margin-right: 40px;
    }

}

.partners {
    background-color: $bg-color;
    padding: 45px 0 90px;

    &__list {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

}















@import 'media';